<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Checkers</title>
<link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
<h1><img src="http://fontmeme.com/newcreate.php?text=Star%20Wars%20Checkers&name=Starjedi.ttf&size=50&style_color=000000" alt="Star Wars Font"></a><p style="padding-left: 15px; font-size: 30px;"></h1>
<nav>
    <a href="/">Home Page</a>
    <a href="/checkers">Checkerboard</a>
</nav>
<div style = "text-align:center;">
  <table class = "center">
    <% var bg, getsPiece = false, url %>
    <% for(var i = 1; i < 9; i++) { %>
    <tr class="tr<%= i % 2 %>">
      <% for(var j = 1; j < 9; j++) { %>
      <% if(i%2===1){ %>
      <% bg = (j%2===1) ? 'white' : 'black' %>
      <% }else{ %>
      <% bg = (j%2===1) ? 'black' : 'white' %>
      <% } %>
      <td class="td<%= j%2 %>"></td>
      <% } %>
    </tr>
    <% } %>
  </table>
</div>
<footer>
  <small>&copy 2014 Melanie L. Fryman</small>
</footer>
</body>
</html>
